.list-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 5px;
    padding-left: 15px;
}

.task-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 15px;
}

.btn-delete i {
    font-size: 16px;
    color: #ef476f;
    margin-right: 5px;
}

.btn-edit i {
    font-size: 16px;
    color: #ffd166;
    margin-right: 5px;
}

.btn-done i {
    font-size: 16px;
    color: #06d6a0;
    margin-right: 5px;
}

.todoinput {
    width: 200px;
    min-width: 300px;
    padding: 15px 10px 10px 20px;
    margin-right: 10px;
    font-family: 'Josefin Sans', serif;
    font-size: 15px;
    color: #26547c;
    background-color: #fcfcfc;
    border: 1px dashed #26547c;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.updatetext {
    color: #26547c;
}




@keyframes blink {

    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }

    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }

    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}