/* default styles */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear: both;
}

/* main styles */

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #26547c;
    margin: auto;
    width: 50%;
    background: #292F91;
    background: linear-gradient(to top left, #292F91, #4DAADF);
}

.main {
    margin-top: 20px;
    background-color: #fcfcfc;
    min-width: 80%;
    min-height: 80vh;
    border-radius: 20px;
    position: relative;
    box-shadow: -1px 20px 60px 0px rgba(0, 0, 0, 0.20);
}

